<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/Unit/bootstrap.php"
	beStrictAboutCoversAnnotation="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	colors="true"
	testdox="true"
	failOnWarning="true"
	failOnRisky="true"
	verbose="true"
	>
	<php>
		<ini name="display_errors" value="On" />
		<ini name="display_startup_errors" value="On" />
		<ini name="memory_limit" value="2G" />
	</php>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">inc</directory>
		</include>
		<exclude>
			<directory>vendor</directory>
			<directory>tests</directory>
			<file>inc/class-s3-media-sync-wp-cli.php</file>
		</exclude>
	</coverage>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="Test.php">tests/Unit</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>skip</group>
		</exclude>
	</groups>
</phpunit>