<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	beStrictAboutCoversAnnotation="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	colors="true"
	executionOrder="random"
	testdox="true"
	failOnWarning="true"
	failOnRisky="true"
	defaultTestSuite="integration"
	verbose="true"
	>
	<php>
		<ini name="display_errors" value="On" />
		<ini name="display_startup_errors" value="On" />
		<ini name="memory_limit" value="2G" />
	</php>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">inc</directory>
			<file>s3-media-sync.php</file>
		</include>
		<exclude>
			<directory>vendor</directory>
			<directory>tests</directory>
		</exclude>
		<report>
			<clover outputFile="build/logs/clover.xml"/>
			<html outputDirectory="build/coverage"/>
			<text outputFile="php://stdout" showUncoveredFiles="true"/>
		</report>
	</coverage>
	<testsuites>
		<testsuite name="integration">
			<directory suffix=".php">tests/integration</directory>
		</testsuite>
	</testsuites>
	<groups>
		<include>
			<group>integration</group>
		</include>
	</groups>
	<logging>
		<testdoxHtml outputFile="build/testdox.html"/>
		<testdoxText outputFile="build/testdox.txt"/>
		<junit outputFile="build/logs/junit.xml"/>
	</logging>
</phpunit>
